<%-include("partials/header")%>

<section>

    <div class="note">
       <h4 class="note-title">Card Title</h4>
       <div class="note-text">
        <p>Note</p>
       </div>
       <div class="note-footer">
        <a href="/edit">Edit</a>
       </div>
       <a class="close" href="/">Delete</a>
    </div>
</section>


<%-include("partials/footer")%>
