<%-include("partials/header")%>

<section>
    <div class="note">
        <h2>Post A Note</h2>
        <form action="/new" method="POST">
          <div class="row">
            <label> Title:   </label>
            <input  type="text"  id="title" name="title" />
        </div>
          <div class="row">
            <label>Content: </label>
            <textarea rows="3" id="content" name='content' >
            </textarea>
          </div>
            <button type="submit">Post Note</button>

        </form>
    </div>
</section>


<%-include("partials/footer")%>
